<div class="container">
  <h1 [hidden]="!test">{{test}}</h1>
  <div class="input-holder">
    <input [(ngModel)]="test">
    <p>{{date | date:'dd-MM-yyyy'}}</p>
  </div>
  <h2>{{title}}</h2>
  <button (click)="onButtonClicked()" >Click this shit</button>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
    </tr>
  </table>
</div>
