<header class="header">
  <div class="container">
    <strong class="logo"><a href="/">logo</a></strong>
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#">link 1</a></li>
        <li><a href="#">link 2</a></li>
      </ul>
    </nav>
  </div>
</header>
